@model ResponsiveFileManagerMVC.Models.Staff

@{
    ViewBag.Title = "詳細資料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>詳細資料</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("員工工號")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffId)
        </dd>

        <dt>
            @Html.DisplayName("員工姓名")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回", "Index")
</p>
